@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}

.site-title a {
  display: block;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

.content-title {
  font-size: 1rem;
  margin: 10px 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

#about .text {
  text-align: left;
}

/*-------------------------------------------
Work
-------------------------------------------*/
#Work ul {
  display: flex;
  flex-direction: column; /* 縦方向に並べる */
  justify-content: space-between;
}

#Work li {
  width: 100%; /* 横幅を親要素に合わせる */
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  margin-bottom: 30px;
}

.media {
  width: 100%; /* 幅を100%に設定 */
  max-width: 400px; /* 最大幅を400pxに設定（必要に応じて変更） */
  height: 300px; /* 高さを300pxに設定（共通の高さ） */
  object-fit: cover; /* 画像と動画のアスペクト比を維持 */
  border-radius: 8px; /* 角を丸くする */
}
/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  /*-------------------------------------------
  About
  -------------------------------------------*/
  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }

  /*-------------------------------------------
  Work
  -------------------------------------------*/
  #Work ul {
    flex-direction: column;
  }
  #Work li {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
  .img-2col-container {
    flex-direction: column;
    min-height: auto;
  }

  .img-2col-container > div {
    width: 100%;
  }

  .img-2col-container img {
    height: 250px; /* モバイル表示時は少し小さく */
  }
}
